@charset "utf-8";body,td,th{color:#020000;margin:0px;padding:0px;}
body{background-color:#FFFFFF;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;}
#wrapper{width:800px;margin:0px auto;padding:0px;border-left:1px solid #981a1e;border-right:1px solid #981a1e;border-bottom:1px solid #981a1e;}
#header{width:800px;margin:0px;padding:0px;background:#fcf9ce url(../img/header-bg.jpg) no-repeat center top;height:302px;}
.logo{width:356px;height:84px;padding:0px;margin:0px;float:left;}
.toll-number{width:196px;float:right;margin-right:45px;font-family:Arial, Helvetica, sans-serif;color:#931619;font-size:12px;*margin-right:30px;*height:56px;padding-top:30px;}
.clear{clear:both;}
#banner-txt{font-family:Arial, Helvetica, sans-serif;font-size:28px;width:330px;height:108px;line-height:38px;padding:15px;margin:0px;float:left;text-align:left;color:#FFFFFF;}
#banner-txt p{font-family:Arial, Helvetica, sans-serif;font-size:28px;line-height:38px;color:#FFFFFF;font-weight:bold;margin:0px;padding:0px;}
#banner-txt p span{font-family:Arial, Helvetica, sans-serif;font-size:18px;line-height:26px;margin:0px;color:#FFFFFF;font-weight:bold;}
#banner-img{width:400px;height:170px;float:right;margin:0px;padding:0px;}
#mid-container{width:774px;margin:0px 13px 0px 13px;padding:0px;}
#mid-container p img{margin:5px;}
#mid-left{width:510px;float:left;text-align:left;}
p{font-family:Tahoma,Arial, Helvetica, sans-serif;font-size:12px;color:#000000;line-height:16px;text-align:justify;margin:0px;padding:4px;}
#mid-right{width:243px;float:right;text-align:left;}
#mid-right p img{margin:5px 0px;padding:0px;}
.right-box{width:233px;margin:0px auto 5px;background:#fcf9ce;border:1px solid #931619;padding:5px 0px 5px 10px;}
.news{font-family:Arial, Helvetica, sans-serif;}
.text{padding:10px;}
h1{font-family:Arial, Helvetica, sans-serif;font-size:18px;line-height:22px;margin:8px 0;padding:0px;font-weight:bold;color:#931619;}
.bdr-all{border:1px solid #000000;}
.t-head{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;text-align:center;line-height:20px;color:#000000;}
.t-text{font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;text-align:center;line-height:18px;color:#000000;}
.link{color:#931619;text-decoration:underline;}
.link a{color:#931619;text-decoration:underline;}
.link:hover{color:#000000;text-decoration:none;}
.heighlight{font-weight:bold;font-size:12px;color:#931619;}
.text_new{padding:0px;margin:0px;}
.text_new img{padding-right:5px;}
.shadow {
  -webkit-box-shadow: 5px 5px 5px #aaa;
  -moz-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa;
}
div.img-slideshow img {
  display:none;
  position:absolute;
}
div.img-slideshow img.active{
  display:block;
}
#small-img-slideshow img {
    max-width: 220px;
    max-height: 200px;
}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px){#wrapper{width:768px;}
#header{width:768px;}
#mid-container{width:768px;margin:0px;}
#mid-left{width:480px;padding-left:15px;}
#big-img-slideshow img{max-width:90%;}
#mid-right{padding-right:15px;}
ul.nav li a{padding-left:30px;padding-right:30px;}
}
@media only screen
and (min-device-width:320px)
and (max-device-width:767px){#wrapper{width:100%;border-right:none;}
#header{width:100%;background:#fcf9ce;}
#mid-container{width:100%;margin:0px;}
#banner-img{display:none;}
#mid-right{display:none;}
.toll-number{width:auto;float:none;padding-top:0px;padding-left:5px;}
.logo{float:none;width:100%;}
.logo a img{max-width:100%;height:auto;}
#mid-left{width:auto;padding-left:10px;padding-right:10px;}
#banner-txt{background:#990000;width:auto;}
#big-img-slideshow img{max-width:90%;}
ul.nav li a{padding-left:5px;padding-right:5px;}
#events-calendar{display:none;}
#events-list{width:100%;}
}